#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;';
}

.App {
  background-color: white;
  border-radius: 10px 10px 35% 10px;
  padding: 2rem;
  font-family: 'Poppins', 'sans-serif';
  width: clamp(300px, 80%, 600px);
}

.year-selection {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 5em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: black;
}

p {
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
}

span {
  color: purple;
}

.line {
  color: lightgrey;
  width: 100%;
}

.submit-line {
  display: flex;
  align-items: center;
}

.submit-button {
  padding: 30px 0px;
  transform: scale(2.5);
}

.submit-button:hover {
  cursor: pointer;
}